  /* Index.html and main Css page */
  
  body {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  /* HEADER / NAV BAR STYLES START */
  header {
      padding: 20px 35px;
      background-color: rgba(16, 49, 138, 0.623);
      display: flex;
      justify-content: space-between;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      background-size: cover;
      background-attachment: fixed;
      background-position: 80%;
      z-index: 9999;
  }

  header h1 {
    font-weight: bolder;
    margin: 0;
    font-size: 36px;
    color: silver;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  header nav {
    margin: 7px 0;
  }

  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  header nav ul li a:hover {
    background: rgba(83, 9, 50, 0.589);
    color: black;
    border-radius: 15px;
    text-shadow: none;
  }

a.nav-link:link {
    color: white;
   text-decoration: none;
}

a.nav-link:visited {
    color: white;
   text-decoration: none;
}

a.nav-link:hover {
    color: white;
   text-decoration: none;
}

a.nav-link:active {
    color: white;
   text-decoration: none;
}

/* Navigation Styles end */

/* Introduction */

.introduction {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: silver;
}

.conley-is {
    width: 35%;
    text-align: left;
    margin: 3.5%;
  }

  .conley-is p {
    margin: 5px 0 15px 0;
  }

       /* profile picture styles and dog link styles */

  .profile-img {
    flex: 1 12%;
    margin-left: 20px;
  }
  
  .profile-img img {
    max-width: 100%;
  }

.dog-link:link {
    color: white;
   text-decoration: none;
}

.dog-link:visited {
    color: white;
   text-decoration: none;
}

.dog-link:hover {
    color: white;
   text-decoration: none;
}

.dog-link:active {
    color: white;
   text-decoration: none;
}

/* Introduction Styles End */

  /* FOOTER STYLES START */
  footer {
    background: rgba(16, 49, 138, 0.623) ;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  footer h4 {
    color: white;
    margin: 0;
  }
  

  /* END FOOTER STYLES */

  /* Lando-image.html style */

.lando-img {
    flex-wrap: wrap;
    flex: 1 12%;
}

.lando-img img {
    max-width: 100%;
}

/* end lando styles */

  /* about me Css page */

.about-me {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: silver;
}

.li-me:hover {
    color: rgba(14, 14, 112, 0.486);
    font-weight: 900;
    list-style-type: none;
    text-shadow: 2px 2px rgb(173, 193, 230);
  }

    /* end about me Css page */


    /* recent work Css page */

.title-work {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: silver;
    flex-direction: column;
    }

.link-box {
    padding: 20px 35px;
      background-color:silver;
      display: flex;
      justify-content: space-between;
}

.run-img {
        flex-wrap: wrap;
        flex: 1 12%;
    }
    
.run-img img {
        max-width: 100%;
    }

.screenshots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgba(16, 49, 138, 0.623)
    }
}

/* Recent work styles end */

/* contact me styles start */

#contact-info {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: silver;
}

.li-contact:hover {
    color: rgba(14, 14, 112, 0.486);
    font-weight: 900;
    list-style-type: none;
    text-shadow: 2px 2px rgb(173, 193, 230);
  }